.gridContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "dsrrrdrgr grdgd grdr";
    text-decoration: none;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}