.item {
    color: blue;
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid deeppink;
    padding: 5px;
}


.item a{
    text-decoration: none;
}
.item a.activeLink{
    color:cornflowerblue;
    text-decoration: none;
}