
.si{
color: lime;
}
.si img {
    width: 60px;
    height: 80px;
    backdrop-filter: invert();
    background-size: inherit;
border-top-color: azure;
    border-left-color: greenyellow;
    border-radius: 30px;
}