.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}



.messages {
    padding: 5px;

}

.message {

}

.dialogsItems {
    padding: 8px;
    color: lime;
}
.dialog.active {
    color: lime;
}
.messages.message{
    color: lime;
}

.item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid deeppink;
    padding: 5px;
}
.button{
    display: flex;
    align-self: center;
}